{% load i18n %}
{% load staticmedia %}
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title> {% trans "Jappix &bull; An Open μSocial Network" %} </title>
    <link rel="shortcut icon" href="{% mediaurl "img/favicon.ico" %}" />
    {% comment %}            
    <link rel="stylesheet" href= "{{ HOST_STATIC }}/php/get.php?h={{ hash }}&amp;t=css&amp;f=main.css~{{ putTheme() }}~home.css~others.css~tools.css~buddylist.css~myinfos.css~chatengine.css~channel.css~chatswitch.css~smileys.css~popup.css~vcard.css~options.css~favorites.css~discovery.css~inbox.css~mucadmin.css~integratebox.css~userinfos.css" type="text/css" media="all" />
    <!--[if lt IE 9]><link rel="stylesheet" href="{{ HOST_STATIC }}/php/get.php?h={{ hash }}&amp;t=css&amp;f=ie.css" type="text/css" media="all" /><![endif]-->
    <script type="text/javascript" src="{{ HOST_STATIC }}/php/get.php?h={{ hash }}&amp;t=js&amp;f=jquery.js~jquery.timers.js~jsjac.js~base64.js~constants.js~datastore.js~audio.js~board.js~chat.js~smileys.js~avatar.js~mucadmin.js~connection.js~discovery.js~error.js~favorites.js~features.js~interface.js~iq.js~message.js~chatstate.js~filter.js~inbox.js~microblog.js~music.js~notification.js~httpauth.js~options.js~others.js~integratebox.js~pep.js~presence.js~roster.js~storage.js~utilities.js~vcard.js~userinfos.js"></script>
    {% endcomment %} 
    
    <link rel="stylesheet" href="{% mediaurl "css/main.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% mediaurl "css/images_city.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% mediaurl "css/images.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% mediaurl "css/home.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% mediaurl "css/others.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% mediaurl "css/tools.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% mediaurl "css/buddylist.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% mediaurl "css/myinfos.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% mediaurl "css/chatengine.css" %}" type="text/css" media="all" /> 
    <link rel="stylesheet" href="{% mediaurl "css/channel.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% mediaurl "css/chatswitch.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% mediaurl "css/smileys.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% mediaurl "css/popup.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% mediaurl "css/vcard.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% mediaurl "css/options.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% mediaurl "css/favorites.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% mediaurl "css/discovery.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% mediaurl "css/inbox.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% mediaurl "css/mucadmin.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% mediaurl "css/integratebox.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% mediaurl "css/userinfos.css" %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% mediaurl "css/userinfos.css" %}" type="text/css" media="all" />


    <!--[if lt IE 9]>
        <link rel="stylesheet" href="{% mediaurl "css/ie.css" %}" type="text/css" media="all" />
    <![endif]-->
    <script type="text/javascript" src="{% mediaurl "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/fancybox.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/jquery.timers.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/jquery_scrollable.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/jquery.tools.tooltip.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/jquery.tools.scrollable.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/jsjac.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/base64.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/constants.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/datastore.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/audio.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/board.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/chat.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/smileys.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/avatar.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/mucadmin.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/connection.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/discovery.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/error.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/favorites.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/features.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/interface.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/filter.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/httpauth.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/iq.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/message.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/microblog.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/mucadmin.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/music.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/notification.js" %}"></script> 
    <script type="text/javascript" src="{% mediaurl "js/options.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/others.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/pep.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/presence.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/roster.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/storage.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/userinfos.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/utilities.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/vcard.js" %}"></script>
    <script type="text/javascript" src="{% mediaurl "js/home.js" %}"></script>

    {% comment %}
    {% if anonymousMode() %}
    <link rel="stylesheet" href="{{ HOST_STATIC }}/php/get.php?h={{ hash }}&amp;t=css&amp;f=anonymous.css" type="text/css" media="all" />
    <script type="text/javascript" src="{{ HOST_STATIC }}/php/get.php?h={{ hash }}&amp;t=js&amp;f=anonymous.js"></script>
    {% endif %}
    {% endcomment %}
</head>

